@model Sistema.Data.Entities.Servico

@{
    ViewData["Title"] = "Detalhes dos serviços";
}

<h1>Detalhes dos serviços</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaServico.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasRetorno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasRetorno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comissao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ServicoId">Editar</a> 
    <a asp-action="Index" class="btn btn-success">Voltar para a lista</a>
</div>
