@model IEnumerable<Sistema.Data.Entities.PriceTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ServiceName)</th>
            <th>Preço (€)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ServiceName)</td>
                <td>@item.Price.ToString("C", new System.Globalization.CultureInfo("pt-PT"))</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PriceId" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.PriceId" class="btn btn-sm btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.PriceId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
